.sorter-eleemnts-menu,.sortable-blocks {
	padding:0.5em;margin:0 0 1em 0;list-style:none outside none;
	border:1px solid black;
	li {margin:0.2em 0;background:#aaffaa;padding:0.5em;color:black;
		a {color:black;}
		&.ui-sortable-handle {cursor:pointer;}
		&.ui-sortable-placeholder{height:1.5em;background:#aaaaff;display:block;}
	}
	li.level-1 {margin-left:2em;}
}

.list-files-widget {margin:0;padding:0;
	li {display:inline-block;position:relative;margin:0.5em;width: 135px;height: 130px;border:1px solid transparent;border-radius:0.5em;
		&:hover {border-color:black;}
		img {display:block;margin:0 auto;}
		.kill {position:absolute;cursor:pointer; background:red;color:black;right:0;bottom:0;width:1em;height:1em;line-height:1em;text-align:center;display:none;border-radius:0.5em;
			&::before{content:'X';}
			
		}
		&:hover .kill {display:block;}
	}

}

.site-file-manager {
	#wrapper {margin:0.5em 0;}
}