@font-face {
  font-family: 'Intro Book';
  src: url("../fonts/Intro-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/helvetica/HelveticaNeueCyr-Roman.otf") format("opentype"); }
html {
  font: normal 1em Helvetica;
  background: url(../imgs/bg.jpg);
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed; }

html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

.sizer {
  max-width: 71.25em;
  margin: 0 auto; }

.all-page {
  min-height: 100%;
  position: relative;
  padding-bottom: 9.375em;
  box-sizing: border-box; }
  .all-page .footer {
    height: 9.375em;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0; }

.soc-nets {
  font-size: 1.125em;
  margin-top: -0.8em;
  text-align: center; }
  .soc-nets a {
    color: white;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #4bbcea;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    padding: 0.3em; }
    .soc-nets a.fa-instagram {
      background: url(../imgs/ista-g.png) 50% 50% no-repeat;
      background-size: contain;
      background-color: white; }
      .soc-nets a.fa-instagram::before {
        content: ' ';
        display: inline-block;
        height: 0; }
    .soc-nets a.soclink-3 {
      background: url(../imgs/mmc-soc-logo.png) 50% 50% no-repeat;
      background-size: contain; }
      .soc-nets a.soclink-3::before {
        content: ' ';
        display: inline-block;
        height: 0; }

.logo {
  font-family: 'Intro Book';
  font-size: 1.125em;
  color: white;
  text-decoration: none; }
  .logo span {
    display: inline-block;
    width: 5em;
    text-align: left;
    padding-bottom: 0.5em;
    vertical-align: bottom; }

.header-tail {
  text-align: center;
  position: relative;
  padding: 0.5em 0; }
  .header-tail .soc-nets {
    position: absolute;
    top: 50%;
    right: 0; }

.menu-tail {
  background: linear-gradient(to right, rgba(56, 79, 133, 0), #384f85); }
  .menu-tail ul {
    padding: 0;
    text-align: center;
    margin: 0; }
    .menu-tail ul:first-child > li {
      display: inline-block;
      vertical-align: top;
      position: relative;
      padding: 0;
      transition: all 0.5s linear; }
      .menu-tail ul:first-child > li > a {
        line-height: 3em; }
      .menu-tail ul:first-child > li ul {
        position: absolute;
        display: none;
        padding: 1.2em 0;
        background: #0097d1;
        width: 17em;
        text-align: left;
        left: 0;
        border-top: 1px solid #4cc1db;
        z-index: 100; }
        .menu-tail ul:first-child > li ul li {
          list-style: none outside none;
          line-height: 1.5em; }
      .menu-tail ul:first-child > li.submenu > a::after {
        content: '\f107';
        font-family: FontAwesome;
        color: #33d0f8;
        font-weight: 600;
        margin-left: 0.3em; }
      .menu-tail ul:first-child > li.submenu:hover {
        background: #0097d1; }
        .menu-tail ul:first-child > li.submenu:hover > ul {
          display: block; }
    .menu-tail ul a {
      color: white;
      text-decoration: none;
      transition: all 0.5s linear;
      display: block;
      padding: 0 1.2em; }
      .menu-tail ul a:hover {
        color: #33d0f8; }

.footer {
  background: #3f547a; }
  .footer .menu-tail {
    background: none; }
    .footer .menu-tail ul li ul {
      bottom: 3.1em;
      border-bottom: 1px solid #4cc1db;
      border-top: none; }
    .footer .menu-tail > ul {
      border-bottom: 1px solid #5b6f94; }
      .footer .menu-tail > ul li.submenu > a::after {
        content: '\f106'; }
  .footer .row {
    display: table;
    width: 100%;
    font-size: 0.875em;
    padding-top: 1.43em; }
    .footer .row > div {
      display: table-cell;
      width: 20%;
      vertical-align: middle; }
    .footer .row .copyr {
      color: #8497ba; }
    .footer .row .soc-nets {
      font-size: 1.1429em; }
    .footer .row .logo {
      font-size: 0.889em; }
      .footer .row .logo span {
        color: #33d0f8; }
    .footer .row .write-uns a {
      color: white;
      text-decoration: none; }
      .footer .row .write-uns a::before {
        content: '\f0e0';
        font-family: FontAwesome;
        color: #4bbcea;
        padding-right: 0.3em; }
      .footer .row .write-uns a::after {
        content: '\f105';
        font-family: FontAwesome; }

.site-content {
  padding: 1.875em 0 0; }
  .site-content::after {
    content: '';
    display: block;
    clear: both; }
  .site-content .sitebar {
    float: left;
    width: 16.44em; }
    .site-content .sitebar > div {
      margin-bottom: 1.875em; }
    .site-content .sitebar .content-teaser-block {
      position: relative;
      background-position: 50% 0%;
      background-size: contain;
      background-repeat: no-repeat; }
      .site-content .sitebar .content-teaser-block .text {
        width: 100%;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        padding: 0.5em; }
        .site-content .sitebar .content-teaser-block .text .bg {
          background-color: rgba(55, 76, 116, 0.9);
          padding: 1em;
          color: white;
          text-align: center; }
          .site-content .sitebar .content-teaser-block .text .bg .title {
            font-size: 1.06em;
            font-weight: bold;
            line-height: 1.2em; }
            .site-content .sitebar .content-teaser-block .text .bg .title a {
              color: white;
              text-decoration: none; }
  .site-content > .content {
    margin-left: 18.315em; }

.events-slider {
  margin-bottom: 1.875em; }
  .events-slider .slider-el {
    height: 22em;
    background: white; }
    .events-slider .slider-el > div {
      width: 50%;
      float: left; }
    .events-slider .slider-el .bg-img {
      height: 100%;
      width: 50%; }
    .events-slider .slider-el .content {
      padding: 2em;
      box-sizing: border-box;
      color: #737373;
      line-height: 1.2em; }
      .events-slider .slider-el .content .title {
        font-size: 1.25em;
        font-weight: bold;
        color: black; }
        .events-slider .slider-el .content .title a {
          color: black;
          text-decoration: none; }
      .events-slider .slider-el .content .info {
        font-size: 0.8125em;
        /*.marker {background:#0097d1;color:white;display:inline-block;padding:0.2em 0.5em 0;position:relative;
        	&::after {content:'';display:block;position:absolute;right:-1.5em;top:50%;border:0.825em solid white;border-left:0.825em solid #0097d1;margin-top:-0.825em;}
        }*/ }
  .events-slider .slick-dots {
    width: 50%;
    margin-left: 50%;
    bottom: 1em;
    font-size: 1.3em; }
    .events-slider .slick-dots button {
      font-size: 1em;
      width: 1em;
      height: 1em; }
      .events-slider .slick-dots button::before {
        font-size: 1em;
        width: 1em;
        height: 1em;
        color: #7b8aa2;
        opacity: 1; }
      .events-slider .slick-dots button:hover::before {
        color: #0097d1; }
    .events-slider .slick-dots .slick-active button::before {
      color: #0097d1; }

.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -0.75em;
  z-index: 10;
  font-size: 4em;
  color: rgba(205, 205, 205, 0.7);
  cursor: pointer; }
  .slick-slider .slick-arrow::before {
    font-family: FontAwesome; }
  .slick-slider .slick-arrow.prev {
    left: 0.2em; }
    .slick-slider .slick-arrow.prev::before {
      content: '\f104'; }
  .slick-slider .slick-arrow.next {
    right: 0.2em; }
    .slick-slider .slick-arrow.next::before {
      content: '\f105'; }

.img-float-right {
  float: right;
  margin: 0 0 1em 1em; }

.content-tail {
  background: white;
  box-sizing: border-box;
  padding: 1em;
  color: #737373;
  line-height: 1.55em;
  margin-bottom: 1.875em;
  position: relative;
  float: left;
  width: 100%; }
  .content-tail b {
    color: black; }
  .content-tail h1 {
    font-size: 2.25em;
    color: #0097d1;
    margin-top: 0;
    line-height: 1em; }
  .content-tail .content img {
    max-width: 100%;
    height: auto; }
  .content-tail .content ul {
    padding-left: 1.5em; }
    .content-tail .content ul li {
      list-style: none outside none;
      text-indent: -1.5em; }
      .content-tail .content ul li::before {
        content: '\f058';
        color: #0097d1;
        font-family: FontAwesome;
        padding-right: 0.5em; }
  .content-tail .content ul.list-files-widget-of-album {
    margin: 0 -0.5em;
    padding: 0;
    text-align: center; }
    .content-tail .content ul.list-files-widget-of-album li {
      list-style: none outside none;
      text-indent: 0;
      display: inline-block;
      margin: 0.5em;
      vertical-align: middle; }
      .content-tail .content ul.list-files-widget-of-album li:before {
        display: none; }
  .content-tail .content .more-ink {
    padding: 1em;
    color: #0097d1;
    border: 1px solid #0097d1;
    text-decoration: none;
    display: inline-block; }
    .content-tail .content .more-ink::after {
      content: '\f105';
      font-family: FontAwesome;
      padding-left: 0.3em; }
  .content-tail .content .content-img {
    margin: 0; }
    .content-tail .content .content-img img {
      width: 100%;
      display: block;
      height: auto; }
    .content-tail .content .content-img + h1 {
      padding-top: 0.3em; }
  .content-tail .news-item::after {
    content: '';
    display: block;
    clear: both; }
  .content-tail .news-item .news-image {
    float: left;
    margin: 0 0.5em 0.5em 0; }
    .content-tail .news-item .news-image img {
      display: block; }
  .content-tail .news-item h3 a {
    text-decoration: none;
    color: #0097d1; }
  .content-tail .albums-list > div {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    padding: 0.5em;
    vertical-align: top;
    text-align: conter; }
  .content-tail .albums-list .album-item .album-image {
    margin: 0 0.5em 0.5em 0; }
    .content-tail .albums-list .album-item .album-image img {
      display: block; }
  .content-tail .albums-list .album-item h3 a {
    text-decoration: none;
    color: #0097d1; }
  .content-tail ul.pagination {
    margin: 0;
    padding: 0;
    text-align: center; }
    .content-tail ul.pagination li {
      display: inline-block; }
  .content-tail .admin-links {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 0; }
    .content-tail .admin-links li {
      list-style: none outside none;
      display: inline-block;
      padding: 0.5em;
      background-color: white;
      border-radius: 0 0 0 1em; }
      .content-tail .admin-links li a {
        color: blue; }

.form-wrapper.fancybox-content h2 {
  margin: 0;
  font-size: 1.5em;
  color: #0097d1; }
.form-wrapper.fancybox-content .help-block {
  font-size: 0.7em; }
  .form-wrapper.fancybox-content .help-block .errr {
    color: red; }

.write-uns-form .form-group {
  margin: 0 0 0.2em; }
  .write-uns-form .form-group input, .write-uns-form .form-group textarea {
    box-sizing: border-box;
    display: block;
    padding: 0.2em;
    font-size: 1em;
    width: 100%; }
  .write-uns-form .form-group.error-field input, .write-uns-form .form-group.error-field textarea {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.2); }
.write-uns-form button {
  color: white;
  background-color: #0097d1;
  border: #0077b1;
  display: block;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box; }

.bvi-panel-wrapp {
  text-align: center; }
  .bvi-panel-wrapp .bvi-panel-open {
    background: red;
    color: white;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0.5em;
    text-decoration: none; }
    .bvi-panel-wrapp .bvi-panel-open::before {
      padding-right: 5px; }

/*# sourceMappingURL=style.css.map */
